{% extends 'base.html' %}


{% block 'contenido' %}
  <h1 class="text-center m-3">Contáctanos</h1>
  <form method="POST" class="container">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group p-2">
        {{ form.customer_name.label_tag }}
        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="customer_name">
      </div>

    <div class="form-group p-2">
      {{ form.customer_email.label_tag }}
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="customer_email">
      <div class="text-danger">{{ form.customer_email.errors }}</div>
    </div>

    <div class="form-group p-2">
      {{ form.message.label_tag }}
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Message" name="message"></textarea>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary mb-4 ">Enviar</button>
    </div>
    
  </form>
{% endblock 'contenido' %}